---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import Section from "~/components/Section";
import { components } from "~/components/mdx";

const testimonials = await Promise.all(
  (await getCollection("testimonials", ({ data }) => !data.draft))
    .sort((a, b) => b.id.localeCompare(a.id))
    .map(async (e) => ({
      ...e,
      ...(await render(e)),
    }))
);

const id = "testimonials";
---

<Section {id}>
  <Section.Title {id}>Testimonials</Section.Title>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-6">
    {
      testimonials.map(({ data, Content }) => (
        <div class="bg-bg-subtle border border-border p-4 rounded-2xl flex flex-col gap-6">
          <div class="text-text font-semibold">
            <Content {components} />
          </div>
          <div class="flex gap-2 items-center mt-auto">
            <Image
              src={data.image}
              alt=""
              class="size-12 rounded-full bg-bg-subtle border border-border shrink-0"
              width={80}
            />
            <div class="leading-5">
              <h3 class="mb-1">
                <a
                  href={data.href}
                  target="_blank"
                  class="font-semibold text-primary-contrast underline underline-offset-2 inline-flex space-x-1 items-center"
                >
                  <span>{data.title}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="w-4 h-4"
                  >
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1l9-9m-5 0h5v5"
                    />
                  </svg>
                </a>
              </h3>
              <p class="text-sm">{data.subtitle}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Section>
